# Variables de Supabase
NEXT_PUBLIC_SUPABASE_URL=https://dwathjiqpssvefxdkjqg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_n-aJduKXKoBmNULWURRRJw_FwCtSf5D

# Opcional: para funciones del servidor
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui
